<div class="menu">
  <div class="logo">
    <img src="../../../assets/images/LogoW.png" alt="logo">
  </div>
  <div class="username">
    <h1>ADMIN</h1>
  </div>
  <div class="menu-link">
    <a routerLink="/dashboard" 
       (click)="setActive('/dashboard')" 
       [ngClass]="{'active': activeLink === '/dashboard'}">
      <img src="../../../assets/icons/home.png" alt="">Dashboard
    </a>
    <a routerLink="/dashboard/tickets" 
       (click)="setActive('/dashboard/tickets')" 
       [ngClass]="{'active': activeLink === '/dashboard/tickets'}">
      <img src="../../../assets/icons/reserved.png" alt="">Tickets
    </a>
    <a routerLink="/statistics" 
       (click)="setActive('/statistics')" 
       [ngClass]="{'active': activeLink === '/statistics'}">
      <img src="../../../assets/icons/statistics.png" alt="">Statistics
    </a>
    <a routerLink="/dashboard/employees" 
       (click)="setActive('/dashboard/employees')" 
       [ngClass]="{'active': activeLink === '/dashboard/employees'}">
      <img src="../../../assets/icons/accountant.png" alt="">Employees
    </a>
    <a routerLink="/settings" 
       (click)="setActive('/settings')" 
       [ngClass]="{'active': activeLink === '/settings'}">
      <img src="../../../assets/icons/setting.png" alt="">Settings
    </a>
  </div>
  <app-logout></app-logout>
</div>
