<div class="menu">
  <div class="logo">
    <h1>DASHBOARD</h1>
  </div>
  <div class="username">
    <h1>ADMIN</h1>
  </div>
  <div class="menu-link">
    <a routerLink="/dashboard" 
       (click)="setActive('/dashboard')" 
       [ngClass]="{'active': activeLink === '/dashboard'}">
      <img src="../../../assets/icons/home.png" alt="">Dashboard
    </a>
    <a routerLink="/dashboard/tickets" 
       (click)="setActive('/dashboard/tickets')" 
       [ngClass]="{'active': activeLink === '/dashboard/tickets'}">
      <img src="../../../assets/icons/reserved.png" alt="">Tickets
    </a>
    <a routerLink="/dashboard/statistic" 
       (click)="setActive('/dashboard/statistic')" 
       [ngClass]="{'active': activeLink === '/dashboard/statistic'}">
      <img src="../../../assets/icons/statistics.png" alt="">Statistics
    </a>
    <a routerLink="/dashboard/employees" 
       (click)="setActive('/dashboard/employees')" 
       [ngClass]="{'active': activeLink === '/dashboard/employees'}">
      <img src="../../../assets/icons/accountant.png" alt="">Employees
    </a>
    <a routerLink="/dashboard/panne" 
       (click)="setActive('/dashboard/panne')" 
       [ngClass]="{'active': activeLink === '/dashboard/panne'}">
      <img src="../../../assets/icons/wrench.png" alt="">Pannes
    </a>
  </div>
  <app-logout></app-logout>
</div>
