<form [formGroup]="formMaterials" (ngSubmit)="addMaterials()">

    <div class="group-group">
        <div class="group">
            <label>Select User</label>
            <div class="select">
                <select id="mySelect" formControlName="user">
                    <option *ngFor="let user of ListUsers" [value]="user.id">{{user.username}}</option>
                </select>
            </div>
        </div>
        <div class="group">
            <label for="description">Description</label><br>
            <textarea id="description" formControlName="description" placeholder="Enter the description"></textarea>
        </div>
    </div>

    <div class="group-group">
        <div class="group">
            <label for="name">Material Name</label><br>
            <input id="name" type="text" formControlName="name" placeholder="Enter the material name">
        </div>

        <div class="group">
            <label for="insert_date">Insertion Date</label><br>
            <input id="insert_date" type="date" formControlName="insert_date">
        </div>
    </div>

    <button type="submit" [disabled]="!formMaterials.valid">Add Material</button>
</form>
  
