<div class="main">
    <div class="main-wrapper">
      <app-menu-user></app-menu-user>
  
      <div class="hero">
        <div class="header">
      
            <div class="username">
              <h1>oussama charafi</h1>
            </div>
      
            <div class="logo">
              <img src="../../../assets/images/LogoW.png" alt="logo">
            </div>
      
          </div>
  
        <div class="hero-main">
         <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</div>

