<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-table" *ngIf="dataSource.data.length > 0; else noData">

        <!-- Username Column -->
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let ticket">{{ ticket.userName }}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let ticket">{{ ticket.description }}</td>
        </ng-container>

        <!-- Date Creation Column -->
        <ng-container matColumnDef="dateCreation">
            <th mat-header-cell *matHeaderCellDef>Date Creation</th>
            <td mat-cell *matCellDef="let ticket">{{ ticket.dateCreation | date }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let ticket" id="status">{{ ticket.status }}</td>
        </ng-container>

        <!-- Technical Name Column -->
        <ng-container matColumnDef="technicalName">
            <th mat-header-cell *matHeaderCellDef>Technical Name</th>
            <td mat-cell *matCellDef="let ticket">{{ ticket.technicalName }}</td>
        </ng-container>

        <!-- Material Name Column -->
        <ng-container matColumnDef="materialName">
            <th mat-header-cell *matHeaderCellDef>Material Name</th>
            <td mat-cell *matCellDef="let ticket">{{ ticket.materialName }}</td>
        </ng-container>

        <!-- Panne Type Column -->
        <ng-container matColumnDef="panneType">
            <th mat-header-cell *matHeaderCellDef>Panne Type</th>
            <td mat-cell *matCellDef="let ticket">{{ ticket.panneType }}</td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <ng-template #noData>
        <div class="no-data-message">No data available</div>
    </ng-template>
  </div>