<div class="main">
  <div class="main-wrapper">
    <app-menu></app-menu>

    <div class="hero">
      <div class="header">
        <h1>DASHBOARD</h1>
      </div>

      <div class="hero-main">
        <div class="hero-main-wrapper">

          <div class="materials">
            <h5>Materials</h5>
            <app-materials></app-materials>
          </div>

          <div class="hero-main-second">
            
            <div class="insertmaterial">
              <h5>Insert Materials</h5>
                <app-add-material></app-add-material>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
