form{
    width: 100%;
    background-color: #42424200;
    padding: 20px;
    box-shadow: 4px 4px 15px #0000007d;
}
.group-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.group{
    width: 49%;
    margin: 3px;
}
label {
    color: white;
    padding: 5px;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
}
.group > input {
    padding: 6px 10px ;
    border: 1px solid var(--color-secondary);
    background: #43758510;
    color: white;
    border-radius: 5px;
    width: 95%;
}
textarea{
    color: white;
    padding: 7px 12px;
    border-radius: 8px;
    border: 1px solid var(--color-secondary);
    background: #43758510;
    width: 95%;
}
form > button{
    margin-top: 10px;
    padding: 10px 6px;
    border: 1px solid var(--color-secondary);
    background: transparent;
    color: var(--color-secondary);
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
form > button:hover{
    background: var(--color-secondary);
    color: white;
}
::placeholder{
    color: rgba(255, 255, 255, 0.541);
    font-size: 14px;
}
mat-form-field{
    width: 45%;
    margin: 3px;
    background: #43758510;
    border-radius: 5px; 
}

.mat-form-field-wrapper { 
    background: transparent;
}

.mat-form-field-flex {
    background: #02167b; 
    border-radius: 5px;
    padding: 5px;
    border: 5px solid rgb(255, 255, 255); 
}

.mat-form-field-label {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.mat-select {
    color: white;
}

.mat-select-placeholder {
    color: rgba(255, 255, 255, 0.7); 
}

.mat-form-field-underline {
    background-color: white; 
}

.mat-form-field-subscript-wrapper .mat-form-field-required-marker {
    color: white; 
}

.mat-select-arrow {
    color: white; 
}
