.container{
    width: 100%;
    min-width: 300px;
    background: red;
    padding: 20px;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(30px);
    border-radius: 16px;
    box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.142);
}
.container > form {
    width: 100%;
    padding: 10px;
}
.group{
    width: 100%;
    padding: 4px 0;
}
.group > label{
    font-size: 13px;
    font-weight: 800;
    color: var(--color-secondary);
    text-transform: uppercase;
}
.group > .icon-input{
    width: 100%;
    border-radius: 7px;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
}

.group > .icon-input > input{
    border: none;
    background: transparent;
    width: 90%;
    outline: none;
}
.group > .icon-input > input::placeholder{
    color: black;
    font-weight: 300;
}
form > button{
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.187);
    backdrop-filter: blur(10px);
    color: var(--color-secondary);
    padding: 7px 10px;
    font-weight: 800;
    margin-top: 10px;
    cursor: pointer;
    transition: .4s;
    width: 100%;
}
form > button:hover{
    border: 1px solid transparent;
    color: var(--color-secondary);
    background: black;
}

.logo{
    width: 120px;
    margin: 0 auto;
}