<div class="container">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="group">
        <label for="username">username:</label><br>
        <div class="icon-input">
            <input id="username" formControlName="username" type="text"  placeholder="Username"/>
            <img src="../../../assets/icons/email.png">
        </div>
      </div>
      <div class="group">
        <label for="password">password:</label><br>
        <div class="icon-input">
            <input id="password" formControlName="password" type="password" placeholder="Password"/>
            <img src="../../../assets/icons/padlock.png">
        </div>
      </div>
      <button type="submit" [disabled]="formLogin.invalid">Login</button>
    </form>
</div>