<form [formGroup]="formAddTechnician" (ngSubmit)="addTechnician()">
    <input type="hidden" formControlName="id" id="id">

    <div class="group">
        <label for="username">username</label>
        <input type="text" formControlName="username" id="username" placeholder="@Ousaama charafi">
    </div>

    <div class="group">
        <label for="email">email</label>
        <input type="text" formControlName="email" id="email" placeholder="@Enaa.com">
    </div>

    <div class="group">
        <label for="password">password</label>
        <input type="password" formControlName="password" id="password" placeholder="********">
    </div>

    <button type="submit" [disabled]="formAddTechnician.invalid">Add Technician</button>
  </form>
  