<div class="main">
    <div class="main-wrapper">
        <div class="hero">
            <div class="hero-left">
                <div class="hero-left-img">
                    <img src="../../../assets/images/man2.png" width="100%">
                </div>
            </div>


            <div class="hero-right">
                <div class="hero-right-content">
                    <div class="logo">
                        <img src="../../../assets/images/logoBlack.png" width="100%" alt="logo">
                    </div>
                </div>
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>
